<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyp.system.mapper.UserSchoolMapper">

    <resultMap type="UserSchool" id="UserSchoolResult">
        <result property="schoolID" column="school_id" />
        <result property="resSchool" column="res_school" />
        <result property="schoolNum" column="school_num" />
        <result property="avgGPA" column="avg_gpa" />
        <result property="minGPA" column="min_gpa" />
    </resultMap>

    <sql id="selectSchoolVo">
        select distinct res_school, school_id, school_num, avg_gpa,min_gpa from user_school
    </sql>

    <select id="selectRecommendateSchool" parameterType="UserSchool" resultMap="UserSchoolResult">
        <include refid="selectSchoolVo"/>
        <where>
            <if test="minGPA != null ">  min_gpa &lt;= #{minGPA}</if>
        </where>
    </select>

    <insert id="insertUserSchool" parameterType="UserSchool" useGeneratedKeys="true" keyProperty="schoolID">
        insert into user_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolID != null">school_id,</if>
            <if test="resSchool != null">res_school,</if>
            <if test="schoolNum != null">school_num,</if>
            <if test="avgGPA != null">avg_gpa,</if>
            <if test="minGPA != null">min_gpa,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolID != null">#{schoolID},</if>
            <if test="resSchool != null">#{resSchool},</if>
            <if test="schoolNum != null">#{schoolNum},</if>
            <if test="avgGPA != null">#{avgGPA},</if>
            <if test="minGPA != null">#{minGPA},</if>
        </trim>
    </insert>



</mapper>